
/*

    Dark Yellow : #de9e2f
    Light Yellow : #fbe5b2

    Dark Gray : darkgray
    Light Gray : #e8e6e0


*/



.arrows {

    height : 350px;

}

.arrows-parent-div {

    height : 50px;

}


.child-button:hover{

    background-color : #fbe5b2;

}

.parent-button:hover{

    background-color : #de9e2f;

}

#arrow-3{

  transform: rotate(45deg);
  position: absolute;
  top: 700px;
  left: 1100px;

}

#arrow-2{

  transform: rotate(90deg);
  position: absolute;
  top: 670px;
  left: 850px;
  height: 60px;
  width: 280px;

}

#arrow-1{

  transform: rotate(135deg);
  position: absolute;
  top: 700px;
  left: 600px;

}

#arrow-3-2col{

  transform: rotate(65deg);
  position: absolute;
  top: 670px;
  left: 970px;

}

#arrow-1-2col{

  transform: rotate(115deg);
  position: absolute;
  top: 670px;
  left: 750px;

}



#arrow-parent{

  transform: rotate(270deg);
  position: absolute;
  top: 250px;
  left: 850px;

}


.arrow-button {

  height: 60px;
  width: 280px;

}

.arrow-button:before {
  content: "";
  width: 100px;
  height: 10px;
  background: #fbe5b2;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 24px;
  transition: all 0.3s ease;
}



.arrow-button:after {
  content: "";
  width: 0;
  height: 0px;
  border-style: solid;
  border-width: 30px 0px 30px 60px;
  border-color: transparent transparent transparent #de9e2f;
  position: absolute;
  top: 0;
  margin-top: 0px;
  right: 0;
  transition: all 0.3s ease;

}

#arrow-parent:before {
  content: "";
  width: 125px;
  height: 10px;
  background: #fbe5b2;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 24px;
  transition: all 0.3s ease;
}



#arrow-parent:after {
  content: "";
  width: 0;
  height: 0px;
  border-style: solid;
  border-width: 30px 0px 30px 60px;
  border-color: transparent transparent transparent #fbe5b2;
  position: absolute;
  top: 0;
  margin-top: 0px;
  right: 0;
  transition: all 0.3s ease;
}


